<!DOCTYPE html>
<html lang="en">
<head>
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- {#    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />#} -->
	<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.css" />
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/jprettify.css" /> -->

	<script src="../static/js/jquery.js" type="text/javascript"></script>
	<script src="../static/js/jquery-ui.min.js" type="text/javascript"></script>
	<!-- Control dropdown checkbox -->
	<script src="../static/js/jquery.multiselect.js" type="text/javascript"></script>
	<script src="../static/js/prettify.js" type="text/javascript"></script>
    <script>


        

    $('#previous-sessions-link').click(function(){
        $('.table-responsive').show();
        $('.tbodyClass').show();
        $('.other-content').hide();
        $('.pagination-container').show();
        $('.SearchTbody').show();
        $('#timeselect').show();
    });

    var all_data = ["date", "session", "speed",  "distance_covered", "resting_periods",
            "step_count", "stress_levels", "hyderation_status", "heart_rate", "calorie_expenditure", "sleep_quality"]
    $(function () {
        $("select").multiselect({
            selectedList: 4
        });

    });
    $("select").multiselect({
        selectedText: function (numChecked, numTotal, checkedItems) {
            return numChecked + ' of ' + numTotal + ' checked';
        }
    });
		// $("#abeSelect").multiSelect({ oneOrMoreSelected: '*' });
        $(document).ready(function(){


            $('.other-content').hide();
            $('.SearchTbody').hide();

            var a=1;
        // add a backslash
    var search = window.location.search.substring(1); // Get the URL query string (remove the question mark)
    var params = {};
    var reg = /([^&=]+)=([^&]*)/g;
    var match;
    while (match = reg.exec(search)) {
        var key = decodeURIComponent(match[1]);
        var value = decodeURIComponent(match[2]);
        params[key] = value;
    }

    console.log(params)
    if (params.fenye !='1')
        {   $('.table-responsive').hide();
            $('.pagination-container').hide();
            $('.other-content').show();
            $('#timeselect').hide();}

            
            $('#previous-sessions-link').click(function(){
                $('.table-responsive').show();
                $('.tbodyClass').show();
                $('.other-content').hide();
                $('.pagination-container').show();
                $('.SearchTbody').hide();
                $('#timeselect').show();
            });

            $('#current-session-link').click(function(){
                $('.table-responsive').hide();
                $('.pagination-container').hide();
                $('.other-content').show();
                $('#timeselect').hide();
            });
            $('#searchId').click(function(){
                $('.pagination-container').hide();
                $('.tbodyClass').hide();
                $('.SearchTbody').show();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var abeValue = $('#abeSelect').val();
                var username = "{{ username }}"

                // 
                var ret=[]
                if ($('#abeSelect').val() !=null){
                ret = $('#abeSelect').val()
               
            }
            console.log(ret)
                
                $.ajax({
                url: '/login/serach_data',
                type: 'GET',
                data: {
                    start_date: startDate,
                    end_date: endDate,
                    abe: abeValue,
                    username: username
        // Add more parameters
                    },
                success: function(data) {
                    // The data returned from the backend is processed here
                    $('.SearchTbody').empty();
                    var nameRow = '<tr><td>Name</td>';
                    var dateRow = '<tr><td style="width: 200px">Date (DD/MM/YYYY)</td>';
                    var session = '<tr><td>Session</td>';
                    var speed = '<tr><td>Speed</td>';
                    var distance_covered = '<tr><td>Distance Covered</td>';
                    var resting_period = '<tr><td>Resting Period (s)</td>';
                    var step_counts = '<tr><td>Step Counts</td>';
                    var stress_levels = '<tr><td>Stress Levels</td>';
                    var hydration_status = '<tr><td>Hydration Status</td>';
                    var heart_rate = '<tr><td>Heart Rate</td>';
                    var calorie_expenditure = '<tr><td>Calorie Expenditure</td>';
                    var sleep_quality = '<tr><td>Sleep Quality</td>';
                     // Iterate through the returned data and add it to the page
                     data.forEach(function(item) {
                    //  console.log(item.session, '111111111111111111111')
                     // Add the username to the Name row
                    nameRow += '<td>' + item.username + '</td>';
                    // Add the date to the Date row
                    dateRow += '<td>' + item.date + '</td>';
                    session += '<td>' + item.session + '</td>';
                    speed += '<td>' + item.speed + '</td>';
                    distance_covered += '<td>' + item.distance_covered + '</td>';
                    resting_period += '<td>' + item.resting_period + '</td>';
                    step_counts += '<td>' + item.step_counts + '</td>';
                    stress_levels += '<td>' + item.stress_levels + '</td>';
                    hydration_status += '<td>' + item.hydration_status + '</td>';
                    heart_rate += '<td>' + item.heart_rate + '</td>';
                    calorie_expenditure += '<td>' + item.calorie_expenditure + '</td>';
                    sleep_quality += '<td>' + item.sleep_quality + '</td>';
                    });
                    // Close the table row
                    nameRow += '</tr>';
                    dateRow += '</tr>';
                    session += '</tr>';
                    speed += '</tr>';
                    distance_covered += '</tr>';
                    resting_period += '</tr>';
                    step_counts += '</tr>';
                    stress_levels += '</tr>';
                    hydration_status += '</tr>';
                    heart_rate += '</tr>';
                    calorie_expenditure += '</tr>';
                    sleep_quality += '</tr>';
                    // Add rows to the table
                    $('.SearchTbody').append(nameRow);
                    $('.SearchTbody').append(dateRow);
                    $('.SearchTbody').append(session);
                    $('.SearchTbody').append(speed);
                    $('.SearchTbody').append(distance_covered);
                    $('.SearchTbody').append(resting_period);
                    $('.SearchTbody').append(step_counts);
                    $('.SearchTbody').append(stress_levels);
                    $('.SearchTbody').append(hydration_status);
                    $('.SearchTbody').append(heart_rate);
                    $('.SearchTbody').append(calorie_expenditure);
                    $('.SearchTbody').append(sleep_quality);
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handling request errors
                    console.error('Error:', errorThrown);
                }
                });
            });

        });

        // Initializes the page by checking session storage for a predefined selection key ("pre"). 
        //If the key exists, indicating a previous selection was made, it retrieves this data and calls the 'search' function with this data as its parameter. 
        // If no previous selection is found, it simply logs "Not selected" to the console, indicating no prior action was taken or data selected.

        function init(){

            var select_data = sessionStorage.getItem("pre");
            if (select_data===null){
                console.log("Not selected")
            }
            else{
                search(select_data)
            }
        }
        // The 'search' function updates displayed data based on a selection, either from session storage or a dropdown. 
        // It filters and displays elements accordingly and saves the current selection back to session storage for future reference.
        function search(select_data){
                        
            console.log('Total selected results',select_data)
            var ret = select_data;
            
            if ($('#abeSelect').val() !=null){
                ret = $('#abeSelect').val()
                // console.log(ret)
            }

            for (let v of  all_data) {
                if (ret.includes(v)) {
                    // console.log('id',v)
                    $("#" + v).show()
                } else {
                    $("#" + v).hide()
                }
            }
            sessionStorage.setItem('pre', ret)
        }
    </script>
    <style>
        /* Additional styles to adjust alignment, if necessary */
        .vertical-align {
            display: flex;
            align-items: end; /* Align items at the bottom */
        }
        .dropdown-toggle::after {
            margin-left: .255em; /* Adjust dropdown arrow alignment if needed */
        }
        .welcome-text {
            margin-right: 20px; /* Set the right margin to 10px */
        }
        .pagination-container {
            text-align: center;
        }
        .pagination {
            display: inline-block;
        }
        .pagination a,
        .pagination .current {
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            text-decoration: none;
            color: #333;
        }
        .pagination a:hover {
            background-color: #f0f0f0;
        }

        .total-pages {
            margin-left: 10px;
            color: #999;
        }
        .current {
            background-color: #007bff;  
            color: #fff; 
        }
        .pagination-container .pagination span.disabled {
            color: #999;
            cursor: not-allowed;
        }
        .pagination-container .pagination span.disabled:hover {
            text-decoration: none;
        }
        .other-content {
            text-align: center; /* center horizontally */
        }
        #abeSelect {
        height: 38px; /* Set it to the height you desire */
        }
        #searchId {
        margin-right: -20px; /* Height based on need */
        }
        #btn_search{
            position: absolute;
            top: 154px;
            left: 793px;
        }
    </style>
</head>
<body onload="init()">
    <!-- Navbar for "SportsInsight" with section links, current page indication, user greeting, and logout button. -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SportsInsight</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Player Details</a> <!-- Removed 'active' from Player Details -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Data</a> <!-- Removed 'active' from Data -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" aria-current="page" href="http://localhost:8000/training?username={{ username }}">Recommendations</a> Kept 'active' only on the current page -->
                        <a class="nav-link" aria-current="page" href="http://localhost:8000/training">Recommendations</a> <!-- Kept 'active' only on the current page -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Medical</a> <!-- No 'active' class -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Training Schedule</a> <!-- No 'active' class -->
                    </li>
                </ul>
            </div>
            <span class="welcome-text">Hi {{ username }}</span>
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </div>
    </nav>
    
    <!-- Session navigation tabs and search form for selecting date range, hidden inputs for username and page control. -->
    <div class="container mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a id="current-session-link" class="nav-link" href="#">Current Session</a></li>
            <li class="nav-item"><a  id="previous-sessions-link" class="nav-link" href="#">Previous Sessions</a></li>
        </ul>

        <form action="/search_data2/" method="post" id="timeselect" style="margin-left:160px">
            {%csrf_token%}
        <div class="row mt-3 vertical-align" >
            <div class="col-md-3">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" value="{{start_date}}">
            </div>
            <input type="username" id="usernamename" name="username" value="{{username}}" style="display: none;">
            <input type="thispage" id="" name="thispage" value="{{page}}" style="display: none;">

            <div class="col-md-3">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" value="{{end_date}}">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" id="searchId2">Search</button>
            </div>
        </form>

        <!-- Form with a multi-select dropdown for filtering data by various metrics such as date, session, and health indicators, alongside a filter button to apply selections. -->
        <form id="form" id="timeselect">
            <div class="row mt-3 vertical-align" >
            <div class="col-md-3">
                <table>
                    <tr>
                        <td>
                            <select type="select" name="example-list" id="abeSelect" multiple="multiple"
                                style="background:#FFF ; width:400px">
                                <option value="date">Date</option>
                                <option value="session">Session</option>
                                <option value="speed">Speed</option>
                                <option value="distance_covered">Distance Covered</option>
                                <!-- <option value="acceleration">Acceleration</option> -->
                                <option value="resting_periods">Resting Period</option>
                                <option value="step_count">Step Count</option>
                                <option value="stress_levels">Stress Levels</option>
                                <option value="hyderation_status">Hyderation Status</option>
                                <option value="heart_rate">Heart Rate</option>
                                <option value="calorie_expenditure">Calorie Expenditure</option>
                                <option value="sleep_quality">Sleep Quality</option>
                            </select>
                        </td>
                    </tr>
			    </table>
            </div>
            <div class="col-md-3">
                <button style="margin-left: 100px" type="button" onclick="search(all_data)" class="btn btn-primary">Filter</button>
            </div>
        </div>
        </form>

        </div>

            <div class="col-md-3">
{#                <select id="abeSelect">#}
{#                    <option value="date">Date</option>#}
{#                    <option value="session">Session</option>#}
{#                    <option value="speed">Speed</option>#}
{#                    <option value="distance_covered">Distance Covered</option>#}
<!-- {#                    <option value="acceleration">Acceleration</option>#} -->
{#                    <option value="resting_periods">Resting Period</option>#}
{#                    <option value="step_count">Step Count</option>#}
{#                    <option value="stress_levels">Stress Levels</option>#}
{#                    <option value="hyderation_status">Hyderation Status</option>#}
{#                    <option value="heart_rate">Heart Rate</option>#}
{#                    <option value="calorie_expenditure">Calorie Expenditure</option>#}
{#                    <option value="sleep_quality">Sleep Quality</option>#}
{#                </select>#}
{#                <div class="dropdown">#}
{#                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        Choose Attributes to Display#}
{#                    </button>#}
{#                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="dateCheck">Date</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="sessionCheck">Session</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="speedCheck">Speed</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="distanceCheck">Distance Covered</a></li>#}
<!-- {#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="Acceleration">Acceleration</a></li>#} -->
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="RestingPeriods">Resting Period</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="StepCount">Step Count</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="StressLevels">Stress Levels</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="hyderationStatus">Hyderation Status</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="HeartRate">Heart Rate</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="CalorieExpenditure">Calorie Expenditure</a></li>#}
{#                            <li><a class="dropdown-item"><input class="form-check-input me-1" type="checkbox" value="" id="SleepQuality">Sleep Quality</a></li>#}
{##}
{#                        </ul>#}
{#                    </div>#}
                </div>

                
            </div>

        <!-- Table showing user session details and metrics, dynamically filled from 'user_info'. -->
        <div class="row mt-3">
            <div class="col-10">
                <div class="table-responsive" style="margin-left:80px;margin-left:180px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Session 1</th>
                                <th>Session 2</th>
                                <th>Session 3</th>
                            </tr>
                        </thead>
                        <tbody class="tbodyClass" id="tbody">
                                    <tr>
                                        <td>Name</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ username }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="date">
                                        <td style="width: 200px">Date (DD/MM/YYYY)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.date }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="session">
                                        <td>Session</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.session }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="speed">
                                        <td>Speed (km/h)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.speed }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="distance_covered">
                                        <td>Distance Covered (km)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.distance_covered}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="resting_periods">
                                        <td>Resting Period (s)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.resting_period}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="step_count">
                                        <td>Step Counts</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.step_counts }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="stress_levels">
                                        <td>Stress Levels</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.stress_levels }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="hyderation_status">
                                        <td>Hydration Status</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.hydration_status }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="heart_rate">
                                        <td>Heart Rate (bpm)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.heart_rate }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="calorie_expenditure">
                                        <td>Calorie Expenditure (kcal)</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.calorie_expenditure }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr id="sleep_quality">
                                        <td>Sleep Quality</td>
                                        {% for user_dict in user_info %}
                                        <td>{{ user_dict.sleep_quality }}</td>
                                        {% endfor %}
                                    </tr>
{#                                    <tr>#}
{#                                        <td>Training Advice</td>#}
{#                                        {% for user_dict in user_info %}#}
{#                                        <td>{{ user_dict.training_advice }}</td>#}
{#                                        {% endfor %}#}
{#                                    </tr>#}
                            <!-- Add more rows as necessary -->
                        </tbody>
                        <tbody class="SearchTbody">
                        </tbody>
                    </table>
        </div>

        <!-- Message for no current session and pagination links for navigating through data pages, dynamically controlled by 'user_info'. -->
        <div class="other-content">No current session. Go to Previous Sessions</div>
                <div class="pagination-container">
                    <div class="pagination">
                        <span class="step-links">
                            {% if user_info.has_previous %}
                                <a href="http://localhost:8000/data?page={{ user_info.previous_page_number }}&fenye=1">Previous</a>
                            {% else %}
                                <span class="disabled">Previous</span>
                            {% endif %}
                            {% for num in user_info.paginator.page_range %}
                                {% if user_info.number == num %}
                                    <span class="current">{{ num }}</span>
                                {% else %}
                                    <a href="http://localhost:8000/data?page={{ num }}&fenye=1">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if user_info.has_next %}
                                <a href="http://localhost:8000/data?page={{ user_info.next_page_number }}&fenye=1">Next</a>
                            {% else %}
                                <span class="disabled">Next</span>
                            {% endif %}
                        </span>
                        <span class="total-pages">Total{{ user_info.paginator.num_pages }}</span>
                    </div>
                </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Pagination items -->
            </ul>
        </nav>
{#        <button class="btn btn-success mt-3">Create new session</button>#}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" defer></script></div>
    </div>
</body>
</html>
